# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.local
.env.*.local

# Build / dist
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc
